# This file must have permissions 0600 on linux.
# File permissions are not checked on Windows, so
# it is the user's responsibility to set permissions
# appropriately.
service_checks:
    # name is a user-defined name to identify the service check
  - name: check_users
    # command is a command whose arguments are provided as an array of strings
    command: ["/usr/local/nagios/libexec/check_users", "-w", "5", "-c", "10"]
    # labels are an optional block that provide additional user-defined 
    # key-value pairs to identify and group the service check
    labels:
      env: staging
      key1: val1
  - name: check_yum
    command: ["/usr/local/nagios/libexec/check_ssh", "localhost"]
    parse_output: true
