integrations:
- name: nri-nagios
  env:
    # The number of service checks to run concurrently
    CONCURRENCY: "1"

    # The table name to save the service check results into
    OUTPUT_TABLE_NAME: NagiosServiceCheckSample

    # The absolute path to the service checks config file
    SERVICE_CHECKS_CONFIG: /etc/newrelic-infra/integrations.d/service_checks.yml

    # Fetching only metrics
    METRICS: "true"
  interval: 15s
